{% extends 'panelBase.html.twig' %}
{% block sayfaBaslik %} İstatistikler {% endblock %}
{% block sayfaUst %}
    {#<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('panel_homepage') }}">Anasayfa</a></li>
        <li class="breadcrumb-item active">Ofisler</li>
    </ol>#}
{#
    <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Ofis Ekle</button>
#}
{% endblock %}

{% block body %}



{% endblock %}
{% block javascript %}

{% endblock %}