

<form class="form-material text-left aracGrupDuzenle">
    <div class="form-group row">
        <label class="col-lg-3 col-sm-12"><i class="text-danger">*</i> Grup Adı : </label>
        <div class="col-lg-9 col-sm-12">
            <input type="text" class="form-control" id="adi" value="{{ grup.adi }}" onblur="harfleriBuyut(this)">
        </div>
    </div>
</form>